[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
[submodule "themes/hugo-rapid-theme"]
	path = themes/hugo-rapid-theme
	url = https://github.com/coderzh/hugo-rapid-theme.git
